<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Prevent image hotlinking">
          <match url=".*\.(gif|jpg|png|jpeg|bmp)$"/>
          <action type="Rewrite" url="/Images.ashx?path={R:0}"/>
        </rule>
        <rule name="Alias page">
          <match url="^([^/]+)"/>
          <action type="Rewrite" url="/Show.aspx?path={R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>